<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mygdx.game"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <!-- //keith -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- //keith end -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- new addition for global googleapiclient -->


        <!-- originally GdxTheme -->


        <!-- NETWORK ACTIVITY -->
        <activity
            android:name=".NetworkActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GAME ACTIVITY -->
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/GdxTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- keith -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version" />
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- //keith end -->


        <!-- NETWORK TEST GAME ACTIVITY. DELETE FOR REAL GAME -->
        <activity android:name=".AndroidLauncherTest2"></activity>
    </application>

</manifest><!--
//81:8C:D5:F0:E3:FA:74:66:D6:BC:EF:F7:2D:23:EE:B6:28:6B:6D:F7
//SHA1 FINGERPRINT
--><!--
    instructions to get this is from https://chandruscm.wordpress.com/2015/12/29/how-to-obtain-sha1-signing-certificate-fingerprint-from-android-studio/

    Variant: debugUnitTest
    Config: debug
    Store: /Users/Keith/.android/debug.keystore
    Alias: AndroidDebugKey
    MD5: 84:59:8D:0B:6D:0F:E4:A6:5D:16:74:FD:C4:24:F2:1E
    SHA1: 79:CC:36:0F:8F:46:CD:46:A7:97:D8:93:B0:0D:39:E5:B9:BA:32:B0
    Valid until: Wednesday, September 6, 2045
-->
